@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  width: calc(100vw - 40px);
  padding: 0;
  gap: 50px;

}
.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  padding: 10px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  transition: ease-in-out 0.5s;
}
.logo{
  max-width: 100%;
  height: auto;
}
.column1 {
  background-image: url('../imgs/1.png');
}
.column2 {
  background-image: url('../imgs/2.png');
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items horizontally */
}
.column3 {
  background-image: url('../imgs/3.png');
}
.column:hover{
  scale: 1.05;
  transform: translateY(2em);

}
.icon-row {
  display: flex;
  justify-content: space-between; /* Space icons evenly */
  align-items: center; /* Align icons vertically in the center */
  width: 100%; /* Full width of the column */
}

.icon-row a {
  font-size: 24px; /* Adjust icon size */
  color: #ffffff; /* Default icon color */
  text-decoration: none;
  flex: 1; /* Allows icons to stretch evenly */
  display: flex;
  justify-content: center; /* Centers icons horizontally within each flex item */
}

.icon-row a:hover {
  color: #ebbd6f;
  scale: 1.2;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.aboutMe-container{

  font-size: 16px; /* Adjust as needed */
  line-height: 1.5; /* Improve readability */
  text-align: center; /* Center text, optional */
  margin: 20px 0; /* Space around the paragraph */
  color: white;
  display: flex;
  justify-content: center; /* Horizontally center child elements */
  align-items: center; /* Vertically center child elements if needed */
  flex-direction: column;

}
.name{
  font-size: 2em;
  font-family: 'Bodoni Moda SC';
  width: 100%; /* Ensures it spans the full width of the container */
  text-align: left; /* Align text to the left */
  margin-bottom: 10px; /* Optional: add space below the name */
}
.aboutMe {
  font-family: 'DM Serif Text', serif; /* Apply the imported font */
  width: 30%;
}
.column3 {
  background-image: url('../imgs/3.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word; /* Break long words to prevent overflow */
  text-overflow: ellipsis;
}
.column3-container{
  color: white;
  overflow: scroll;
  overflow-x: hidden;
}
.education-experience-container {
  width: 80%; /* Adjust width as needed */
  height: auto;
  margin-bottom: 20px; /* Space between sections */
}

.section-title {
  font-family: 'Bodoni Moda SC';
  font-size: 1.5em; /* Adjust size as needed */
  margin-bottom: 10px;
  text-align: left;
}

.section-content {
  font-family: 'DM Serif Text', serif;
  font-size: 1em; /* Adjust size as needed */
  line-height: 1.5;
  text-align: left;
}
.experience-container{
  overflow: hidden; /* Prevents content from overflowing */
  word-wrap: break-word; /* Breaks long words */
  text-overflow: ellipsis; 
}
h4{
  text-transform: uppercase;
}