.container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  width: calc(100vw - 40px);
  padding: 0;
  gap: 50px;

}
.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  padding: 10px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  transition: ease-in-out 0.5s;
}
.logo{
  max-width: 100%;
  height: auto;
}
.column1 {
  background-image: url('../imgs/1.png');
}
.column2 {
  background-image: url('../imgs/2.png');
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items horizontally */
}
.column3 {
  background-image: url('../imgs/3.png');
}
.column:hover{
  scale: 1.05;
  opacity: 0.7;
}
.icon-row {
  display: flex;
  justify-content: space-between; /* Space icons evenly */
  align-items: center; /* Align icons vertically in the center */
  width: 100%; /* Full width of the column */
}

.icon-row a {
  font-size: 24px; /* Adjust icon size */
  color: #ffffff; /* Default icon color */
  text-decoration: none;
  flex: 1; /* Allows icons to stretch evenly */
  display: flex;
  justify-content: center; /* Centers icons horizontally within each flex item */
}

.icon-row a:hover {
  color: #ebbd6f;
  scale: 1.2;
}