/* .container {
  display: flex;
  height: calc(100vh - 80px);
  width: calc(100vw - 40px);
  padding: 0;
  gap: 50px;
}

.column {
  flex: 1;
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
}

.column1 {
  background-image: url('./imgs/1.png');
}

.column2 {
  background-image: url('./imgs/2.png');
}

.column3 {
  background-image: url('./imgs/3.png');
} */
/* App.css */

/* Base styles */
/* Base styles for desktop and larger screens */
.container {
  display: flex;
  height: calc(100vh - 40px); /* Adjust height to leave space at the top and bottom */
  width: calc(100vw - 40px); /* Adjust width to leave space at the edges */
  padding: 0;
  gap: 50px; /* Space between columns */
}

.column {
  flex: 1; /* Each column takes up equal space */
  background-size: cover; /* Cover the entire column */
  background-position: center; /* Center the image */
  height: 100%; /* Full height of container */
  border-radius: 8px; /* Optional: Rounded corners */
-webkit-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
  box-shadow: 21px 21px 41px -1px rgba(0,0,0,0.75);
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .carousel {
    position: relative;
    width: 23rem;
    height: 23rem;
    perspective: 500px;
    transform-style: preserve-3d;
 }
  .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
 }
  .card {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #000;
    border-radius: 1rem;
    color: #9ca3af;
    text-align: justify;
    transition: all 0.3s ease-out;
 }
  .card h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: #1f2937;
 }
  .card p, .card h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
 }
  .nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
 }
  .nav.left {
    transform: translateX(-100%) translatey(-50%);
 }
  .nav.right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
 }



.column3 {
  background-image: url('./imgs/1.png');
}

.column2 {
  background-image: url('./imgs/2.png');
}

.column1 {
  background-image: url('./imgs/3.png');
}
}